
<ons-page modifier="shop-details" >
  <ons-toolbar style="margin-top:20px">
    <div class="left">
      <ons-toolbar-button ng-click="ons.slidingMenu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>
    </div>
    <form action="c9.html">
    <div class="center"><input type="text"  id="team-search" class="search-input" placeholder="Search"></input></div>
  </form>
  </ons-toolbar>
    <div class="topBar"></div>
    <ons-list ng-controller="GetMatchController">

      <ons-list-item modifier="tappable" class="list-item-container" ng-repeat="x in results| limitTo:10">
      <div>
        <ons-row>
          <ons-col class="action-col">
          {{x.Team1.text}}
          </ons-col>
            <ons-col class="action-col">
              {{x.Score.text}}
               </ons-col>
             <ons-col class="action-col"  >
              {{x.Team2.text}}
               </ons-col>
            <!--div class = "desc" ng-controller="ReturnSearchedTeams" ng-init="init('Team SoloMid')">
              {{returnTeam}}
            </div-->
        </ons-row>
      </div>
      <div>
           <ons-row>
              <ons-col class="action-col" ng-controller="GetDateController">
              {{results}}
               </ons-col>
              <ons-col class="action-col" ng-controller="GetLeagueController">
              {{results}}
            </ons-col>
            <ons-col class="action-col" ng-controller="GetTimeController">
              {{results}}
            </ons-col>

      </ons-row>
    </div>
      </ons-list-item>

    </ons-list>
</ons-page>



