.profile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
  margin-top: 20px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

.profile-name {
  margin: 5px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}

.profile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
}

.profile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.info-col {
  height: 60px;
  line-height: 1;
  padding: 12px 0 12px 4px;
}

.info-num {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

.info-unit {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.4;
}

.followPlayer {
  text-align: center;
  position: relative;
  height: 0px;
  font-color: #2b293b;
}

.followPlayer-num {
  position:bottom;
  position: relative;
  top: -30px;
  height: 25px;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 100;
  text-align: center;
  border-radius: 1px 1px 0 0;
  padding: 0 6px;
  background-color: grey;
  color: #2b293b;
  width: auto;
  margin: 0 auto 0 auto;
  display: inline-block;
}

.followPlayer-num ons-icon {
  font-size: 26px;
  font-weight: 50;
  padding-left: 5px;
  padding-bottom: 8px;

  vertical-align: -0px;
}

