.page--shop-details__content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px !important;
  bottom: 0px;
}

.card {
  margin-top:45px;
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
  height: 250px;
}

.card-toolbar ons-back-button span {
  color: white;
}

.card-name {
  font-weight: 600;
  font-size: 20px;
  padding: 66px 0 8px 0;
  text-align: center;
}

.card-desc {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
  text-align: center;
  line-height: 1.4;
}

.follow {
  text-align: center;
  position: relative;
  height: 0px;
  font-color: #2b293b;
}

.follow-num {
  position: relative;
  top: -35px;
  height: 35px;
  line-height: 35px;
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 100;
  text-align: center;
  border-radius: 1px 1px 0 0;
  padding: 0 6px;
  background-color: grey;
  color: #2b293b;
  width: auto;
  margin: 0 auto 0 auto;
  display: inline-block;
}

.follow-num ons-icon {
  font-size: 26px;
  font-weight: 50;
  padding-left: 5px;
  padding-bottom: 8px;

  vertical-align: -0px;
}

.action-col {
  text-align: center;
  opacity: 0.4;
  padding: 10px 0 8px;
}

.action-col:active {
  opacity: 0.7;
}

.action-col ons-button {
  padding: 0;
  line-height: 1;
}

.action-icon {
  padding: 0 0 4px 0;
}

.action-icon ons-icon {
  font-size: 28px;
}

.action-label {
  font-size: 12px;
}

.prop-desc {
  font-size: 14px;
  opacity: 0.7;
}

.prop-desc ons-icon {
  font-size: 14px;
  vertical-align: -0px;
  opacity: 0.5;
}

.match-won {
  color:#8BE683;
}

.match-lost {
  color:#E65073;
}

#c9 {
  background-image: url(images/teams/c9.jpeg);
}

#all {
  background-image: url(images/teams/all.png);

}

#fnc {
  background-image: url(images/teams/fnc.png);

}

#njws {
  background-image: url(images/teams/njws.png);

}

#shrc {
  background-image: url(images/teams/shrc.jpg);

}

#ssb {
  background-image: url(images/teams/ssb.jpg);

}

#ssw {
  background-image: url(images/teams/ssw.jpg);

}

#tsm {
  background-image: url(images/teams/tsm.jpg);

}

#m5 {
  background-image: url(images/teams/m5.png);

}

#tl {
  background-image: url(images/teams/tl.png);

}